/*@import "base";*/

.clear-fix::before, .clear-fix::after {
  display: table;
  content: '';
}

.clear-fix::after {
  clear: both;
}

.popup-box {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999999999;
  user-select: none;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.popup-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: fade(#434343, 50%);
}

.popup-confirm {
  position: absolute;
  display: none;
  width: 250px;
  height: 165px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;

  .confirm-text {
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 10% 12.8% 5%;
    font-size: 16px;
    line-height: 1.625;
    color: #222222;

    .text {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .confirm-button {
    width: 100%;
    height: 30%;
    border-top: 1px solid #eee;
  }

  .button {
    width: 50%;
    height: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: #f8f8f8;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .yes {
    float: right;
    color: #377bd7;

    &:active {
      background-color: #377bd7;
      color: #fff;
    }
  }

  .no {
    float: left;
    color: #666;
    border-right: 1px solid #eee;

    &:active {
      background-color: #666;
      color: #fff;
    }
  }
}

.popup-success {
  &:extend(.popup-confirm);
  display: block;
  width: 188px;
  height: 112px;
  background-color: fade(#555, 90%);
  padding: 25px 15px 0;

  .icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 0;
    background: transparent url(../img/unbind-success.png) center/ cover no-repeat;
  }

  .text {
    margin-top: 15px;
    padding: 0;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
  }
}

.popup-failure {
  display: none;
  width: 212px;
  &:extend(.popup-success all);

  .icon {
    background-image: url(../img/unbind-failure.png);
  }
}

.popup-loading {
  display: none;
  &:extend(.popup-success all);

  .icon.loading {
    background-image: url(../img/unbind-loading.png);
    will-change: transform;
    animation: popup-loading 2s linear infinite;

    @keyframes popup-loading {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}